.Wallet{
	width: 100%;
	margin: auto;
	background-color: #141619;
}

.MetamaskImage{
	width: 240px;
}

.WalletWrapper{
	width: fit-content;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.MetamaskText{
	color: #F0F0F0;
	margin: auto;
	font-size: 2.2em;
}

.WalletContainer{
	display: flex;
	flex-direction: column;
}